@import '../../asset/style/vars.styl'
@import '../../asset/style/animations.styl'

.Home-Navbar
  height          : 70px
  color           : #777
  position        : fixed
  z-index         : 3
  top             : 0
  left            : 0
  right           : 0
  background-color: #fff
  border-bottom   : 1px solid #eee
  overflow        : hidden

.Home-Navbar-ul
  display        : flex
  flex-direction : row
  align-content  : stretch
  align-items    : center
  margin         : 0
  height         : inherit
  width          : inherit
  list-style-type: none
  & > *
    cursor         : pointer
    color          : inherit
    text-decoration: none
    flex-grow      : 0.3
    align-self     : stretch
    text-align     : center
    display        : flex
    justify-content: center
    align-items    : center
    position       : relative
    // overflow       : hidden

    &.active
      color           : #fff

      &:before

        background-color: rgba(#007ac0,0.7)

      &:hover:before
        animation none !important

    &:before

      content : ''
      position: absolute
      top     : 0
      right   : 0
      bottom  : 0
      left    : 0
      z-index : -1

    &:hover
      transition: color 0.2s ease-in-out
      color           : #fff
      text-decoration : none
      &:before
        // opacity         : 0
        background-color: rgba(#007ac0,0.7)
        animation splash 0.3s 1 forwards


.Home-Navbar-login
  flex-grow : 1
  text-align: center

.Home-Navbar-config
  flex-grow : 1
  text-align: center


.Home-Navbar-brand
  flex-grow      : 10 !important
  justify-content: space-between !important
  color          : #212529 !important
  font-size      : 1.5rem

  &:hover

      color           : inherit !important

      &:before

        background-color: transparent !important