@import './vars.styl'
@import './animations.styl'

.spinner
  animation spinner infinite 2s linear

.spinner3d
  animation spinner3d infinite 20s linear

.beat
  animation beat infinite 1s linear
.pulse
  transform-origin center center
  animation pulse infinite 1s linear

.spinnerHover:hover
  animation spinner infinite 2s linear

.spinner3dHover:hover
  animation spinner3d infinite 20s linear

.beatHover:hover
  animation beat infinite 1s linear

.pulseHover:hover
  animation pulse infinite 1s linear


