.home
  width 100vw
  height 100vh
  &::before
    content ""
    position absolute
    top 0
    left 0
    width 100vw
    height 100vh
    overflow auto
    background #343a40
    background-size cover
  .jumbotron
    margin 0
    position relative
    height calc(100vh - 112px)
    background-color transparent
    padding 0
    padding-top 2rem
    p
      background #fff
      padding 1rem
      border-radius 4px
    img
      box-shadow 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12)
  h1
    color #fff

.navbar-icon-cog
  &:hover
    animation spinner infinite 1s linear

.navbar-icon-login
  &:hover
    animation spinner3d infinite 2s linear

.colIcon
  svg
    font-size 4rem
    width 6rem
    color #fff

.logo-eg
  fill currentColor

.navbar
  .navbar-icon
    margin-left 1rem
    margin-right 1rem

.App-logo
  height 40vmin
  pointer-events none

.spinner
  animation spinner infinite 2s linear

.spinner3d
  animation spinner3d infinite 20s linear

.beat
  animation beat infinite 1s linear

.spinnerHover:hover
  animation spinner infinite 2s linear

.spinner3dHover:hover
  animation spinner3d infinite 20s linear

.beatHover:hover
  animation beat infinite 1s linear

@keyframes spinner{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes beat{
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes spinner3d {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
@keyframes pulse{
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
