@import '../../../asset/style/vars.styl'
@import '../../../asset/style/animations.styl'
.home-header
  height 100vh
  // transform-style preserve-3d
  position relative
  overflow hidden
  // perspective 100px
  // background-color: #fff
  background-color: #cfd8dc
  z-index 5
  .home-header-me
    content ""
    background url('../../../asset/img/me.png')
    background-size: cover
    background-repeat: no-repeat
    background-position center bottom
    position absolute
    top 0
    right 0
    height 100vh
    left 0
    z-index 5
    background-origin: content-box
    a
      position: absolute
      bottom: 0
      left 0
      right 0
      color: #fff
      font-size: 2.5rem
      text-align: center
    svg
      animation fade-slide-down 1s infinite forwards

    // transition 1s transform ease-in-out
  p
    padding 1rem 0.5rem
    margin 0
    text-align center
  @media screen and (orientation:portrait)
    article
      font-size 6vh
  @media screen and (orientation:landscape)
    article
      font-size 6vw
.home-wellcome,
.home-brand,
.line-numbers,
.home-header-right:before
  transform scale(0)
.hero-caption
  .home-wellcome
    animation fade-slide-down 1s 1 forwards
  .home-brand
    animation fade-slide-down 1s 1 forwards
    animation-delay 300ms
  .home-header-right:before
    animation fade-slide-down 1s 1 forwards
    animation-delay 600ms
  .line-numbers
    animation fade-slide-down 1s 1 forwards
    animation-delay 600ms

.home-header-body
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100vh
  width 100vw
  position relative
  // top - height-standar
  bottom: 0
  z-index 2
  transform-origin center center
  // animation fade-slide-down 1s 1 forwards
  @media screen and (min-width: 700px)
    width 50vw


.home-header-right
  &:before
    content: ""
    position absolute
    top: 0
    right 0
    bottom: 0
    height 100vh
    width: 100vw
    @media screen and (min-width: 700px)
      background: url("../../../asset/img/pc.png")
      background-repeat: no-repeat
      background-position-x 50vw
      background-position-y center
      background-attachment: fixed
      // background-position-y 1rem
      background-size: 50vw
      z-index -1
      width: 50vw


// .divice

.caption
  position relative
  z-index: 5
  *
    text-align: center
.home-greeting-wrap
  bottom 0
  left 0
  width: 100vw
  height 80vh
  position absolute
  display flex
  flex-direction: column
  @media screen and (min-width: 700px)
    height 95vh
    flex-direction: row

.line-numbers
  height: 21rem
  width: 100vw
  // border: solid 1px
  /* background: #141414 */
  padding: 1rem
  // border-radius: 1rem
  @media screen and (min-width: 700px)
    width: 21rem
#typeHeader
  whiteSpace 'pre'
.typed-cursor
	opacity 1
	animation typedjsBlink 0.7s infinite
.typed-fade-out
	opacity 0
	transition opacity .25s
	animation 0
@keyframes typedjsBlink
    50%
      opacity 0.0
