@import '../../../asset/style/vars.styl'
@import '../../../asset/style/animations.styl'
.Proyects
  min-height: 100vh
  padding-top: 6rem
  padding-bottom 2rem
  position: relative
  hr
    position relative
    z-index: 3
  code
    color: #690
  .summaryProyects
    padding-inline-start: 0
    display-flex(center,center)
    & > *
      text-decoration: none
  #edlugora, #smass
    max-width 19rem
    padding 0 0.5rem
    text-align center
  #edlugora .caption, #smass .caption
    max-width 9rem
    margin-bottom .5rem
  #edlugora .body, #smass .body
    h4
      color: #607d8b
    p
      color: #808080
  .myProyects
    color     : #607d8b
    text-align: center
    width     : 100vw
  .descriptionProyects
    h1, h2, h3, h4, h5, h6, strong
      color: #607d8b
    display-flex(space-evenly,stretch)
    & > section
      width: 100vw
      @media screen and (min-width: 700px)
        width: 60vw
    & section:first-child
      padding: 2rem
      @media screen and (min-width: 700px)
        width: 40vw
        padding: 2rem 0 2rem 5rem
    & section:last-child
      @media screen and (min-width: 700px)
        background: url('../../../asset/img/sendSms.svg')
        background-position: center center
        background-repeat: no-repeat
      // background-attachment fixed
      // min-height: 100vh
  // #edlugora
  //   .body
  // #smass
  //   .body